.body{
    background-color: black;
}
.container{
    width: 100vw;
    height:100px;
    display: flex;
    justify-content: center;
}
.container div{
    background-color: aqua;
    border: 1px solid;
    height: 50px;
    width:50vh;
    text-align: center;
}
.four{
    text-align: center;
    align-items: center;
}